- if @shagit.repositories.empty?
  .blank_slate
    %p None found?!
    %h1
      Let's
      = succeed "?" do
        %a{ :href => "/repo/new" } create your first repository
- else
  %ul#projects
    - @shagit.repositories.each do |repository|
      %li{ :class => cycle("even", "odd") }
        %a(title = "#{repository.shagit_name}"){:href => "/repo/#{repository.shagit_foldername}" } #{repository.shagit_name}
    %p#new
      %a{ :href => "/repo/new" } Add a new repository