!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %meta{ :content => "en", :"http-equiv" => "Content-Language" }
    %title= "shagit"
    - stylesheets(:reset, :buttons, :shagit)
  %body
    #header
      %h1= @title
      %address.watermark
        managed with
        %a{ :href => "http://www.github.com/unabatede/shagit", :title => "Easy Git Repository Management" } shagit
    #content= yield
    - if is_authorized?
      #footer
        %a{ :href => "/logout", :title => "log out", :method => "post"} log out