%form{ :action => "/login", :method => :post }
  .blank_slate
    %h1
      please tell me who you are
  %br/
  username:
  %input.text#repo_name{ :name => "username", :type => "text" }
  %br/
  password:
  %input.text#repo_name{ :name => "password", :type => "text" }
  %br/
  %br/
  %button{ :type => :submit }= "login"