%html
  %body
    %h1
      = "Create new Repository"
    #login
      %form{ :action => "/repo/new", :method => :post }
        Repository Name: 
        %input.text#repo_name{ :name => "name", :type => "text" }
        %br/
        %button{ :type => :submit }= "create"
